/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "base";

            bindings = <
&kp TAB     &kp Q        &kp W             &kp E           &kp R     &kp T             &kp Y       &kp U        &kp I      &kp O              &kp P            &kp BACKSLASH
&kp ESCAPE  &kp A        &mt LEFT_SHIFT S  &mt LEFT_GUI D  &kp F     &mt LEFT_ALT G    &mt LALT H  &kp J        &kp K      &mt RIGHT_SHIFT L  &kp SEMI         &mt RIGHT_GUI SQT
&kp EQUAL   &mt LCTRL Z  &kp X             &kp C           &kp V     &kp B             &tog 1      &kp M        &kp COMMA  &kp DOT            &mt RCTRL SLASH  &kp MINUS
                                           &mo 1           &kp BSPC  &kp SPACE         &kp RET     &mo 1        &kp LGUI
            >;
        };

        numpad_layer {
            display-name = "test";

            bindings = <
&kp TAB     &kp S        &kp W             &kp E           &kp R     &kp T             &kp Y       &kp U        &kp I      &kp O              &kp P            &kp BACKSLASH
&kp ESCAPE  &kp A        &mt LEFT_SHIFT S  &mt LEFT_GUI D  &kp F     &mt LEFT_ALT G    &mt LALT H  &kp J        &kp K      &mt RIGHT_SHIFT L  &kp SEMI         &mt RIGHT_GUI SQT
&kp EQUAL   &mt LCTRL Z  &kp X             &kp C           &kp V     &kp B             &kp N       &kp M        &kp COMMA  &kp DOT            &mt RCTRL SLASH  &kp MINUS
                                           &trans          &kp BSPC  &kp SPACE         &kp RET     &none        &kp LGUI
            >;
        };
    };
};
