/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/* #define BASE 0 */
/* #define SYMBOLS 1 */
/* #define MISC 2 */


/* &trans  &kp EXCL     &kp AT      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE     &trans    &kp N7  &kp N8  &kp N9  &kp STAR   &trans */
/* &trans  &kp POUND    &kp DOLLAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GRAVE    &trans    &kp N4  &kp N5  &kp N6  &kp PLUS   &trans */
/* &trans  &kp PERCENT  &kp CARET   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp TILDE    &kp AMPS  &kp N1  &kp N2  &kp N3  &kp COMMA  &trans */
                                 /* &trans                &trans                 &trans       &trans    &trans  &mo 1 */
/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "base";

            bindings = <
&kp TAB     &kp Q        &kp W             &kp E           &kp R     &kp T             &kp Y       &kp U        &kp I      &kp O              &kp P            &kp BACKSLASH
&kp ESCAPE  &kp A        &mt LEFT_SHIFT S  &mt LEFT_GUI D  &kp F     &mt LEFT_ALT G    &mt LALT H  &kp J        &kp K      &mt RIGHT_SHIFT L  &kp SEMI         &mt RIGHT_GUI SQT
&kp EQUAL   &mt LCTRL Z  &kp X             &kp C           &kp V     &kp B             &tog 1      &kp M        &kp COMMA  &kp DOT            &mt RCTRL SLASH  &kp MINUS
                                           &mo 1           &kp BSPC  &kp SPACE         &kp RET     &mo 1        &kp LGUI
            >;
        };

        numpad_layer {
            display-name = "test";

            bindings = <
&kp TAB     &kp Q        &kp W             &kp E           &kp R     &kp T             &kp Y       &kp U        &kp I      &kp O              &kp P            &kp BACKSLASH
&kp ESCAPE  &kp A        &mt LEFT_SHIFT S  &mt LEFT_GUI D  &kp F     &mt LEFT_ALT G    &mt LALT H  &kp J        &kp K      &mt RIGHT_SHIFT L  &kp SEMI         &mt RIGHT_GUI SQT
&kp EQUAL   &mt LCTRL Z  &kp X             &kp C           &kp V     &kp B             &kp N       &kp M        &kp COMMA  &kp DOT            &mt RCTRL SLASH  &kp MINUS
                                           &trans          &kp BSPC  &kp SPACE         &kp RET     &none        &kp LGUI
            >;
        };
    };
};
