/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define SYMBOLS 1
#define MISC 2
#define FUNCTIONS 2

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "base";
            bindings = <
&kp TAB     &kp Q        &kp W             &kp E           &kp R     &kp T             &kp Y       &kp U        &kp I      &kp O              &kp P            &kp BACKSLASH
&kp ESCAPE  &kp A        &ht LEFT_SHIFT S  &ht LEFT_GUI D  &kp F     &ht LEFT_ALT G    &ht LALT H  &kp J        &kp K      &ht RIGHT_SHIFT L  &kp SEMI         &ht RIGHT_GUI SQT
&kp EQUAL   &ht LCTRL Z  &kp X             &kp C           &kp V     &kp B             &kp N       &kp M        &kp COMMA  &kp DOT            &mt RCTRL SLASH  &kp MINUS
                                           &mo MISC        &kp BSPC  &kp SPACE         &kp RET     &mo SYMBOLS  &kp LGUI
            >;
        };

        numpad {
            display-name = "numpad";
            bindings = <
&trans  &kp EXCL     &kp AT      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE     &trans    &kp N7  &kp N8  &kp N9  &kp STAR   &trans
&trans  &kp POUND    &kp DOLLAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GRAVE    &trans    &kp N4  &kp N5  &kp N6  &kp PLUS   &trans
&trans  &kp PERCENT  &kp CARET   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp TILDE    &kp AMPS  &kp N1  &kp N2  &kp N3  &kp COMMA  &trans
                                 &trans                &trans                 &trans       &trans    &trans  &kp N0
            >;
        };

        misc {
            display-name = "misc";
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &out OUT_TOG    &trans    &kp C_VOLUME_UP  &kp C_VOLUME_DOWN  &kp K_MUTE  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans          &kp LEFT  &kp DOWN         &kp UP             &kp RIGHT   &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans          &trans    &kp C_PREVIOUS   &kp K_PLAY_PAUSE   &kp C_NEXT  &trans  &trans
                                        &trans        &trans        &trans          &trans    &trans           &trans
            >;
        };

        functions {
            display-name = "func";
            bindings = <
&trans  &msc SCRL_UP    &trans            &mmv MOUSE_UP     &trans            &trans   &trans  &kp F7  &kp F8  &kp F9  &kp F10  &trans
&trans  &msc SCRL_DOWN  &mmv MOUSE_LEFT   &mmv MOUSE_DOWN   &mmv MOUSE_RIGHT  &trans   &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans
&trans  &trans          &trans            &mkp RCLK         &mkp LCLK         &trans   &trans  &kp F1  &kp F2  &kp F3  &kp F12  &trans
                                          &trans            &trans            &trans   &trans  &trans  &trans
            >;
        };
    };
};
